
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('maths.jpg');
    background-color:#1abb99;
}

header {
    background-color: #2d3e52;
    color: #1abb99;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    colour: #1abb99;
}


nav ul li{
list-style-type:none;
display: inline-block;
padding:10px 120px;
}

nav ul li a{
colour:black;
text-decoration:none;
font-weight:bold;
  font-size: 1.5rem;


}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 2px solid #2d3e52;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.project h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.project p {
    font-size: 1.2rem;
    margin-top: 10px;
}


.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px; 
}


footer {
    background-color: #2d3e52 ;
    color:#1abb99  ;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}
