
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('maths.jpg');
    background-color:#1abb99;
}

header {
    background-color: #2d3e52;
    color: ;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    colour: #1abb99;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 350px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color:#2d3e52 ;
    font-weight: bold;
    font-size: 1.2rem;
    text-align:left;
}


section {
    padding: 40px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 2px solid #2d3e52;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.project h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.project p {
    font-size: 1.2rem;
    margin-top: 10px;
}


footer {
    background-color: #2d3e52 ;
    color:#1abb99  ;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}
